.image {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
}
.carousel-indicators {
  bottom: -6px;
}
.carousel-indicators li {
  background-color: #868e96;
  cursor: pointer;
  height: 6px;
}
.carousel-indicators .active {
  background-color: #007bff;
}
